<div class="container-fluid">
  
  <div class="page-header">
    <h1> New Task </h1>
  </div>

  <form class="form-horizontal" name="newTask"> 
		<div class="control-group">
			<label class="control-label"> Name: </label>
			<div class="controls"> 
				<input type="text" 
							name="task[name]"
              ng-model="task.name"
              required> 
         <span ng-show="newTask.name.$error.required"
                class="help-inline">
            Required
          </span>
			</div>
		</div>	

		<div class="control-group">
			<label class="control-label"> Description: </label>
			<div class="controls"> 
				<input type="text" 
							name="task[description]"
              ng-model="task.description"
              required> 
        <span ng-show="newTask.description.$error.required"
                class="help-inline">
            Required
          </span>
			</div>
		</div>	

		<div class="form-actions">
				<a href="#/" class="btn">Cancel</a>
	  		<button type="submit" ng-click="saveTask()" 
	  						ng-disabled="isClean() || newTask.$invalid"
	  						class="btn btn-primary">
	  						Save
	  		</button>
		</div>	
  
	</form>

</div>

